## Pandas实现数据的合并concat

#### 使用场景：
批量合并相同格式的Excel、给DataFrame添加行、给DataFrame添加列

一句话说明concat语法：
* 使用某种合并方式（inner/outer）
* 沿着某个轴向（axis=0/1）
* 把多个Pandas对象（DataFrame/Series）合并成一个。

**concat语法：pandas.concat(objs, axis=0, join='outer', igbore_index=False)**
* objs: 一个列表，内容可以使DataFrame或者Series，可以混合
* axis：默认是0代表按行合并，如果等于1代表按列合并
* join：合并的时候索引的对齐方式，默认是outer join, 也可以是inner join
* igonre_index: 可否忽略原来的数据索引

**append语法：DataFrame.append(other, ignore_index=False)**

append只有按行合并，没有按列合并，相当于concat按行的简写形式
* other：单个dataframe、series、dict，或者列表
* ignore_index: 是否忽略掉原来的数据索引

In [2]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

### 1、使用pandas.concat合并数据

In [3]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3'], 
                    'E': ['E0', 'E1', 'E2', 'E3']
                   })

df1

    A   B   C   D   E
0  A0  B0  C0  D0  E0
1  A1  B1  C1  D1  E1
2  A2  B2  C2  D2  E2
3  A3  B3  C3  D3  E3

In [4]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7'], 
                    'E': ['E4', 'E5', 'E6', 'E7']
                   })

df2

    A   B   C   D   E
0  A4  B4  C4  D4  E4
1  A5  B5  C5  D5  E5
2  A6  B6  C6  D6  E6
3  A7  B7  C7  D7  E7