In [1]:
import pandas as pd
import xlrd

## 1、读取纯文本文件

### 1.1读取CSV，使用磨人的标题行、逗号分隔符

In [2]:
fpath = "./datas/ml-latest-small/ratings.csv"

In [3]:
# 使用pd.read_csv读取数据
ratings = pd.read_csv(fpath)

In [4]:
# 查看前五行数据
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
# 查看数据的形状，返回（行数、列数）
ratings.shape

(100836, 4)

In [6]:
# 查看列名列表
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [7]:
# 查看索引列
ratings.index

RangeIndex(start=0, stop=100836, step=1)

In [8]:
# 查看每列的数据类型
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

### 1.2 读取TXT文件，自己指定分隔符、列名

In [9]:
fpath = "./datas/crazyant/access_pvuv.txt"

In [10]:
pvuv = pd.read_csv(
    fpath,
    sep = '\t',  # 列的分割符
    header = None,  # 是否有标题行
    names = ['pdata', 'pv', 'uv']
)

In [11]:
pvuv

        pdata   pv   uv
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

## 2. 读取Excel文件

In [12]:
fpath = './datas/crazyant/access_pvuv.xlsx'
pvuv = pd.read_excel(fpath)

In [13]:
pvuv

           日期   PV   UV
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

## 3. 读取MySQL数据库（报错不会）

In [4]:
import pymysql
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='12345678',
    charset='utf8'
)
mysql_page = pd.read_sql("select * from crazyant_pvuv", con=conn)
mysql_page

OperationalError: (1045, "Access denied for user 'root'@'localhost' (using password: YES)")